#map {
    height: 400px;
    margin-top: 15px;
    border-radius: 12px;
}

.shipment-wrapper {
    max-width: 900px;
}

#shipping-id {
    padding: 8px;
    width: 250px;
}

#track-btn {
    padding: 8px 14px;
    cursor: pointer;
}
